* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial";
}

:root {
  --primaryColor: #2F3C7E;
  --secondaryColor: #fde0e0;
  --accentColor: #ffc800;
  --heroBGColor: #041720;
}

/* 

 NAVBAR

 */
#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem;
  background-color: var(--primaryColor);
  font-size: 1.1rem;
}
#nav h2 {
  color: white;
}
#nav ul > li {
  padding: 1rem;
  display: inline;
}
#nav ul > li a {
  text-decoration: none;
  color: white;
  transition: 150ms;
  font-weight: 700;
}
#nav ul > li a:hover {
  color: red;
}
#nav #join-button {
  padding: 1rem;
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 900;
  font-size: large;
  transition: 150ms;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--accentColor);
}
#nav #join-button:hover {
  background-color: darkblue;
}
#nav #nav-button {
  display: none;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
}

#nav-mobile-menu {
  display: none;
  pointer-events: none;
  transition: 250ms;
  z-index: 4;
}

@media (max-width: 868px) {
  #nav {
    justify-content: space-between;
  }
  #nav ul {
    display: none;
    list-style-type: none;
  }
  #nav #join-button {
    display: none;
  }
  #nav #nav-button {
    padding: 1rem;
    display: block;
  }
  #nav-mobile-menu {
    position: absolute;
    background-color: black;
    align-items: start;
    width: 50%;
    height: 100%;
    top: 0;
    right: -50%;
    transition: 150ms;
    pointer-events: all;
    justify-content: center;
    font-size: 1.5rem;
    overflow: hidden;
  }
  #nav-mobile-menu ul {
    list-style-type: none;
  }
  #nav-mobile-menu ul > li {
    padding: 2rem;
  }
  #nav-mobile-menu ul > li a {
    text-decoration: none;
    color: white;
    transition: 250ms;
  }
  #nav-mobile-menu ul > li a:hover {
    color: var(--primaryColor);
  }
  #nav-mobile-menu #exit-mobile-nav {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    float: right;
    margin: 2rem;
    transition: 250ms;
    cursor: pointer;
  }
  #nav-mobile-menu #exit-mobile-nav:hover {
    color: var(--primaryColor);
  }
}
/* 

HERO SECTION

*/
#hero {
  display: flex;
  padding: 2rem;
  background-color: var(--primaryColor);
  height: 600px;
  display: flex;
  justify-content: space-around;
}
#hero #hero-group {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  max-width: 550px;
}
#hero #hero-group h1 {
  color: white;
  font-size: 3rem;
  z-index: 1;
}
#hero #hero-group p {
  color: white;
  z-index: 1;
}
#hero img {
  height: 500px;
  position: absolute;
  opacity: 0.35;
  right: 55px;
}
#hero #hero-btn {
  padding: 1rem;
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 900;
  font-size: large;
  transition: 150ms;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 2rem;
  z-index: 1;
  color: var(--accentColor);
}
#hero #hero-btn:hover {
  background-color: darkblue;
}

@media (max-width: 868px) {
  #hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #hero #hero-group h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  #hero #hero-btn {
    padding: 1rem;
    background-color: blue;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 900;
    font-size: large;
    transition: 150ms;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 2rem;
  }
  #hero #hero-btn:hover {
    background-color: darkblue;
  }
}
@media (max-width: 600px) {
  #hero #hero-group h1 {
    font-size: 2.1rem;
  }
}
/* 

BENEFITS SECTION

*/
#benefits {
  background-image: url(svg/polygon-scatter-haikei.svg);
  max-height: 2000px;
  color: white;
  padding: 3rem;
  display: flex;
  gap: 5rem;
}
#benefits #title-card {
  font-size: 2rem;
}
#benefits #title-card p {
  font-size: 1.5rem;
}
#benefits .desktop-icons {
  height: 50px;
}
#benefits .amenities {
  background-color: var(--primaryColor);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#benefits .amenities h3 {
  font-size: 2rem;
}
#benefits .amenities p {
  font-size: 1.1rem;
  padding: 1rem;
}

@media (max-width: 868px) {
  #benefits {
    background-image: none;
    background-color: var(--heroBGColor);
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    font-size: default;
  }
  #benefits #title-card {
    font-size: 1rem;
  }
  #benefits #title-card h1 {
    color: var(--accentColor);
  }
  #benefits .desktop-icons {
    display: none;
  }
  #benefits .amenities {
    background: none;
    padding: 0rem;
    box-shadow: none;
  }
  #benefits .amenities h3 {
    text-align: left;
    font-size: 1.2rem;
    border-bottom: #2F3C7E 2px solid;
  }
  #benefits .amenities p {
    font-weight: lighter;
  }
}
/* 

MEMEBRSHIP COMPONENT

*/
#membership {
  background-color: white;
  padding: 3rem;
  max-height: 2000px;
  display: flex;
  gap: 3rem;
}
#membership p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
#membership #title h2 {
  font-size: 3.2rem;
}
#membership .information-membership {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
#membership .information-membership a {
  color: var(--primaryColor);
}
#membership .membership-option {
  border-radius: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 1.5rem;
  text-align: left;
}
#membership .membership-option h2 {
  margin-bottom: 1rem;
}
#membership .membership-option p {
  font-size: 1rem;
}
#membership .membership-option button {
  padding: 1rem;
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 900;
  font-size: large;
  transition: 150ms;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--accentColor);
}
#membership .membership-option button:hover {
  background-color: darkblue;
}
#membership .membership-option:nth-of-type(2) {
  background-color: var(--primaryColor);
  color: white;
}
#membership .membership-option:nth-of-type(3) {
  background-color: #ffc800;
  color: black;
}

@media (max-width: 868px) {
  #membership {
    text-align: center;
    flex-direction: column;
    gap: 2rem;
  }
  #membership #title h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #membership .membership-option {
    max-height: 500px;
  }
  #membership .membership-option p {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */